<link rel="stylesheet" href="{{plugin_path('Novalnet')}}/css/novalnetUi.css">
<script type="text/javascript" src="https://cdn.novalnet.de/js/v2/NovalnetUtility.js"></script>
<script src="{{ plugin_path('Novalnet') }}/js/novalnetPaymentForm.js"></script>

<form method="post" id="novalnetSepaForm" name="novalnetSepaForm" action="{{nnPaymentProcessUrl}}">
    <input type="hidden" id="paymentKey" name="paymentKey" value="{{paymentMopKey}}" />
    <div class="modal-header">
        <h4 class="modal-title nn_payment">{{paymentName}}</h4>
   </div>
   <div class="modal-body">
        <fieldset>      
                <input type="hidden" name="removalProcessUrl" id="removalProcessUrl" value="{{savedPaymentDetailsRemovalUrl}}">
                <input type="hidden" name="removedCardDetail" id="removedCardDetail" value="{{removedSavedPaymentDetail}}">

        <div class="row nn_row">
            <div class="col-xs-12 col-sm-12">
                {% if savedPaymentDetails is not empty and oneClickShopping == 1 %}
                {% for paymentDetail in savedPaymentDetails %}  
		<input type="hidden" name="index" id="index" value="{{loop.index}}">
                    <div class="row nn_row" id="remove_{{paymentDetail.saveOneTimeToken}}">
                        <div class="col-xs-12 col-sm-12">
                            <input type="radio" class="nnSavedPaymentDetailToken" name="radioOption" id="nnSavedDetail{{loop.index}}">
                            <input type="hidden" name="novalnetsepaSelectedToken" value="{{paymentDetail.saveOneTimeToken}}">
                            <span>{{trans("Novalnet::PaymentMethod.sepaIbanLabel")}} {{paymentDetail.iban}}</span>
                            <button type="button" class="btn btn-danger btnDelete"  onclick="removePaymentDetails('{{paymentDetail.saveOneTimeToken}}')" value="{{paymentDetail.saveOneTimeToken}}"><span class="fa fa-trash-o"></span></button>
                        </div>
                    </div>
                {% endfor %}
		<div class="enteringNewDetails">
			 <input type="radio" name="radioOption" id="toggleForm"><strong>  {{trans("Novalnet::PaymentMethod.addNewAccountDetails")}}</strong><br><br>
			 <input type="hidden" name="newForm" id="newForm">
		</div>
                {% endif %}

                <div class="row nn_row" id="newCardDetails">
                    <div class="col-xs-12 col-sm-12 nnSavePayment">
                        {% if oneClickShopping == 1 and customerNo is not empty %}
                            <input type="checkbox" name="savePaymentData" id="savePaymentData" class="form-check-input" checked>
			    <input type="hidden" name="novalnetSavePaymentData" id="novalnetSavePaymentData">
                            <span class="saveCardText">{{trans("Novalnet::PaymentMethod.SaveAccountData")}}</span>
                        {% endif %}
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div data-model="nn_sepa_iban" class="input-unit">
                            <input type="text" name="nnSepaIban" autocomplete="off" id="nnSepaIban">
                            <label for="sepaIban">{{trans("Novalnet::PaymentMethod.sepaIbanLabel")}} *</label>
                        </div>
                        <a href="#ibanDetails" data-toggle="collapse">{{trans("Novalnet::PaymentMethod.ibanMandate")}}</a>
                        <div id="ibanDetails" class="collapse card-body" style="background:whitesmoke;padding:3%;">
                        <div>{{trans("Novalnet::PaymentMethod.ibanDesc")}}</div><br>
                        <div><b>{{trans("Novalnet::PaymentMethod.creditorIdentifier")}} </div></b><br>
                        <div><b>{{trans("Novalnet::PaymentMethod.note")}}</b> {{trans("Novalnet::PaymentMethod.noteDesc")}}</div></div><br>
                    </div>
                </div>
                
                <div class="row nn_row">
					<div class="col-sm-12">
						<b><label for="nn_birthday">{{trans("Novalnet::PaymentMethod.birthdateLabel")}}<span class="text-danger">*</span></label></b>
					</div>
					<div class="col-sm-4">
						<input type="tel" name="nn_guarantee_date" id="nn_guarantee_date" maxlength="2" placeholder="{{trans("Novalnet::PaymentMethod.day")}}" class="form-control" autocomplete="off">
					</div>
					<div class="col-sm-4">
					   <select id="nn_guarantee_month" type="text" name="nn_guarantee_month" placeholder="{{trans("Novalnet::PaymentMethod.month")}}" class="form-control">
						   <option value="0">{{trans("Novalnet::PaymentMethod.monthOption")}}</option>
							{% for i in 1..12 %}
								<option value="{{i}}">{{ trans("Novalnet::PaymentMethod.month#{i}") }}</option>
							{% endfor %}
					   </select>
					 </div>
					<div class="col-sm-4 autocomplete">
						<input type="text" name="nn_guarantee_year" id="nn_guarantee_year" maxlength="4" placeholder="{{trans("Novalnet::PaymentMethod.year")}}" class="form-control" autocomplete="off">
					</div>
				</div> 
                 </div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer nn_footer">
        <button type="submit" class="btn btn-primary btn-medium" id="novalnetFormBtn" onclick="">
            <i class="fa fa-arrow-right" aria-hidden="true"> </i>
            {{ trans("Novalnet::PaymentMethod.submitButtonText") }}
        </button>
	<button type="button"  class="btn btn-danger btn-medium" id="novalnetFormCancelBtn" onClick="window.location.reload();">
            <i class="fa fa-times" aria-hidden="true"></i> Cancel
        </button> 
    </div>

</form>




